.header {
	&__hamburger {
		position: absolute;
		z-index: 10;
		top: 5px;
		right: 12px;
		color: $color-green;
		transition: all 0.3s;

		&.active,
		.home &,
		.filter &,
		.directors & {
			color: #ffffff;
		}

		&.fixed {
			position: fixed;
			color: #ffffff;
			background-color: $color-green;
		}
	}

	&__nav {
		position: fixed;
		top: 0;
		height: 100vh;
		height: var(--app-height);
		right: 0;
		width: 100%;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;

		@include media-up(md) {
			width: 480px;
		}

		@include media-up(lg) {
			width: 615px;
		}

		&.menu {
			transition: all 0.5s;
			z-index: 5;
		}

		&.open {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

.hamburger {
	width: 84px;
	height: 84px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		width: 33px;
		height: 30px;
		transition: transform 0.3s;
		transform: rotate(-71deg);

		.active & {
			transform: rotate(0deg);
		}
	}
}

.menu {
	background-color: $color-green;
	color: #ffffff;
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 50px;

	&::-webkit-scrollbar {
		display: none;
	}

	@include media-up(md) {
		padding: 50px 50px 50px 100px;
	}

	@include media-up(lg) {
		padding: 50px 70px 50px 155px;
	}

	ul {
		font-size: 0;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;

		li {
			font-family: $font;
			font-weight: 300;
			position: relative;

			@include media-down(sm) {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}

			&:before {
				content: "";
				position: absolute;
				left: -30px;
				top: 50%;
				margin-top: -6px;
				width: 12px;
				height: 12px;
				border-top: 2px solid transparent;
				border-right: 2px solid transparent;
				transform: rotate(45deg);
				transition: border-color 0.3s;
			}

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				transition: all 0.3s;

				@include media-up(md) {
					bottom: 6px;
				}

				@include media-up(lg) {
					bottom: 10px;
				}
			}

			&:hover {
				&:before {
					border-color: #ffffff;
				}
				&:after {
					width: calc(100% + 75px);
					height: 4px;
				}
			}

			&.current-menu-item {
				&:before {
					border-color: #ffffff;
				}

				&:after {
					width: calc(100% + 75px);
					height: 4px;
				}
			}

			// &:nth-child(odd) {
			// 	font-style: italic;
			// }

			// &:nth-child(even) {
			// 	font-family: $font2;
			// 	font-weight: normal;
			// }

			// &:last-child {
			// 	font-family: $font;
			// }
			&:nth-child(1) {
				font-family: $font;
				font-style: italic;
			}
			&:nth-child(2) {
				font-family: $font;
				font-style: italic;
			}
			&:nth-child(3) {
				font-family: $font2;
			}
			&:nth-child(4) {
				font-family: $font;
			}
			&:nth-child(5) {
				font-family: $font;
				font-style: italic;
			}
			&:nth-child(6) {
				font-family: $font2;
			}

			a {
				display: block;
				font-size: 30px;

				@include media-up(md) {
					font-size: 40px;
				}

				@include media-up(lg) {
					font-size: 48px;
				}
			}
		}
	}
}
