.main-banner {
	display: flex;
	position: relative;

	&:hover {
		a {
			opacity: 1;
		}
	}

	&__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__sound {
		color: #ffffff;
		width: 36px;
		height: 36px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		opacity: 0;
		transition: opacity 0.3s;
		z-index: 1;

		svg {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.3s;

			&.active {
				opacity: 1;
			}
		}
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1fr auto 1fr;
		justify-items: center;
		z-index: 1;

		&__project {
			grid-area: 3 / 1 / -1 / -1;
			display: grid;
			align-content: center;
			justify-items: center;
			color: white;
			text-align: center;
			margin: 0 1rem;
		}

		&__link {
			position: relative;
			font-size: 1.2rem;
			font-family: $font2;

			@include media-up(md) {
				font-size: 1.2rem;
			}
			&::before {
				content: "";
				position: absolute;
				width: 0;
				height: 1px;
				background-color: white;
				bottom: 6px;
				left: 0;
				transition: 220ms all ease-in-out;
			}

			&:hover,
			&:focus {
				&::before {
					width: 100%;
				}
			}
		}

		&__title {
			font-size: 1.6rem;
			@include media-up(md) {
				font-size: 2.25rem;
			}
		}

		&__director {
			font-size: 1.6rem;
			font-style: italic;
			@include media-up(md) {
				font-size: 2.25rem;
			}
		}
	}

	&__logo {
		grid-area: 2 / 1 / 3 / -1;
		max-height: 50px;
		position: relative;
		z-index: 1;

		@include media-up(lg) {
			max-height: 99px;
		}
	}
}
