.e-404 {
	height: 100vh;
	height: var(--app-height);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: auto;
	align-items: center;
	justify-content: center;
	text-align: center;

	&__content {
		display: grid;
		justify-items: center;
		row-gap: 2rem;
	}

	&__heading {
		font-size: 10rem;
		@include media-up(md) {
			font-size: 15rem;
		}
	}
	&__text {
		font-size: 1.4rem;
		@include media-up(md) {
			font-size: 1.6rem;
		}
		@include media-up(lg) {
			font-size: 2.5rem;
		}
	}
	&__link {
		text-decoration: underline;
	}
}
