.stills {
	&-slider {
		&__item {
			height: 35vh;
			width: auto;
			max-width: 100vw;

			@include media-up(md) {
				height: 50vh;
				// width: 84%;
			}
			@include media-up(lg) {
				height: 70vh;
				// width: 63%;
			}
		}
		&__image {
			width: auto;
			min-height: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
